:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
  }
  
  a {
    color: var(--link-color);
    text-decoration: none;
  }
  
  /* NAVBAR */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0 50px;
    height: 80px;
  }
  
  nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
  }
  
  nav .right a {
    color: var(--text-color);
    margin: 0 10px;
  }
  
  nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
  }
  
  nav .right a span {
    margin-left: 5px;
  }
  
  /* SECTION 1: Hero */
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
  }
  
  .hero-section .text {
    flex: 5;
  }
  
  .hero-section .text h2 {
    font-size: 45px;
  }
  
  .hero-section .text .links {
    margin-top: 25px;
  }
  
  .hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
  }
  
  .hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
  }
  
  .hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
  }
  
  .hero-section .headshot img {
    width: 350px;
    border-radius: 50%;
  }
  
  /* SECTION 2: Skills */
  .skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
  }
  
  .skills-section h2 {
    text-align: center;
    font-size: 35px;
  }
  
  .skills-section .text {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
  }
  
  .skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
  }
  
  .skills-section .cells .cell span {
    font-size: 18px;
  }
  
  /* SECTION 3: Testimony */
  .testimony-section {
    padding: 0 50px;
    margin-bottom: 100px;
  }
  
  .testimony-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  
  .testimony-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .testimony-section .group .person-details {
    text-align: center;
    flex: 2;
  }
  
  .testimony-section .group .person-details img {
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .testimony-section .group .person-details p {
    font-weight: 600;
  }
  
  .testimony-section .group .person-details p:last-child {
    font-weight: normal;
  }
  
  .testimony-section .group .text {
    flex: 8;
  }
  
  /* SECTION 4: Contact */
  .contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
  }
  
  .contact-section h2 {
    font-size: 35px;
  }
  
  .contact-section .group {
    display: flex;
    gap: 50px;
  }
  
  .contact-section .group .text {
    flex: 3;
    margin-top: 20px;
  }
  
  .contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
  
  .contact-section .group form input,
  .contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
  }
  
  .contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
  }
  
  .contact-section .group form button:hover {
    filter: brightness(.9);
  }
  
  @media (max-width: 850px) {
    /* SECTION 1: Hero */
    .hero-section .text h2 {
      font-size: 35px;
    }
  }
  
  @media (max-width: 740px) {
    /* SECTION 1: Hero */
    .hero-section {
      flex-direction: column-reverse;
    }
  
    .hero-section .headshot img {
      width: 300px;
    }
  
    /* SECTION 3: Testimony */
    .testimony-section {
      text-align: center;
    }
  
    .testimony-section .group {
      flex-direction: column;
    }
  
    /* SECTION 4: Contact */
    .contact-section .group {
      flex-direction: column;
    }
  }
  
  @media (max-width: 600px) {
    /* NAVBAR */
    nav {
      padding: 0 20px;
    }
  
    nav .right a {
      font-size: 22px;
    }
  
    nav .right a:last-child {
      color: var(--text-color);
      background-color: transparent;
      padding: 0;
    }
  
    nav .right a span {
      display: none;
    }
  
    /* SECTION 1: Hero */
    .hero-section {
      padding: 0 20px;
    }
  
    .hero-section .text h2 {
      font-size: 30px;
    }
  
    /* SECTION 2: Skills */
    .skills-section {
      padding: 0 20px;
    }
  
    .skills-section .cells .cell span {
      font-size: 16px;
    }
  
  
  
    /*Contatti */
    .contact-section {
      padding: 0 20px;
    }
  }

  /*Menu hamburger*/
  .central-menu-wrapper {
    position: relative;
    background-color: #eeeff1;
    border-bottom: 1px solid #ccc;
    z-index: 999;
  }
  
  .central-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px 0;
    font-weight: 600;
    font-size: 18px;
  }
  
  .central-menu a {
    color: var(--text-color);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .central-menu a:hover {
    background-color: var(--background-color);
  }
  
  .central-menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 26px;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--text-color);
  }
  
  @media (max-width: 740px) {
    .central-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 10px 0;
      position: sticky;
      top: 80px; /* navbar height */
      background-color: var(--background-color);
      border-top: 1px solid #ccc;
    }
  
    .central-menu.show {
      display: flex;
    }
  
    .central-menu-toggle {
      display: block;
      position: sticky;
      top: 80px;
      z-index: 1001;
      background-color: var(--background-color);
      border-bottom: 1px solid #ccc;
      width: 100%;
      text-align: right;
    }
  }
  /*Esperienze Lavorative */
.experience {
    padding: 0 50px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  
  .experience .heading {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
  }
  
  .experience .heading span {
    color: var(--link-color);
  }
  
  .timeline {
    position: relative;
    margin: 0 auto;
    padding-left: 25px;
    border-left: 3px solid var(--link-color);
    max-width: 900px;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 20px;
  }
  
  .timeline-dot {
    position: absolute;
    left: -11px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: var(--link-color);
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 2px var(--link-color);
  }
  
  .timeline-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
  }
  
  .timeline-content h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  .timeline-content p {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.6;
  }
  
  /* Responsive */
  @media (max-width: 740px) {
    .experience {
      padding: 0 20px;
    }
  
    .timeline {
      padding-left: 20px;
    }
  
    .timeline-item {
      padding-left: 15px;
    }
  
    .timeline-dot {
      left: -13px;
    }
  }

/*footer*/

  .site-footer {
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
  }
  
  .site-footer .footer-links {
    margin-bottom: 10px;
  }
  
  .site-footer .footer-links a {
    color: var(--text-color);
    margin: 0 10px;
    transition: color 0.2s;
  }
  
  .site-footer .footer-links a:hover {
    color: var(--link-color);
  }
  
  .site-footer .footer-copy {
    color: #888;
  }

  /*privacy*/
  
  .privacy-section {
    max-width: 800px;
    padding: 60px 50px;
    margin: 0 auto 100px;
    font-size: 16px;
    line-height: 1.7;
  }
  
  .privacy-section h1 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .privacy-section h2 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--link-color);
  }
  
  /*progetti*/ 

  /* PROGETTI */
.projects-section {
    padding: 60px 50px;
    max-width: 1200px;
    margin: 0 auto 100px;
  }
  
  .projects-section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .project-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
  }
  
  .project-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-box .project-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-box h3 {
    margin: 0 0 10px;
    font-size: 20px;
  }
  
  .project-box p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .project-box a {
    display: inline-block;
    margin-top: auto;
    background-color: var(--link-color);
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .project-box a:hover {
    filter: brightness(0.9);
  }
  